/* start-vsxcode-glassy-suggest-widget-style */
:root {
  --border-radius: 11px;
  --container-padding: 4px;
}
/* Suggest Widget */
.editor-widget.suggest-widget {
  background-color: #eee4;
  padding: var(--container-padding) !important;
  box-sizing: content-box !important;
  border-radius: var(--border-radius) !important;
  box-shadow: inset 0 0 0 1px #fff, 2px 2px 10px #0002 !important;
  border: 1px solid #0005 !important;
  backdrop-filter: blur(10px) sepia(5%);
}
/* Suggest Widget - Dark Mode */
.vs-dark .editor-widget.suggest-widget {
  background-color: #0003;
  box-shadow: inset 0 0 0 1px #fff3, 1px 1px 10px #0008 !important;
  border: 1px solid #0009;
}
/* Suggest Widget Resize Right Vertical Bar */
.editor-widget.suggest-widget .monaco-sash.vertical {
  margin-left: calc(var(--container-padding) * 2) !important;

}
.editor-widget.suggest-widget .monaco-sash.vertical::before {
  border-radius: 10px !important;
}
/* Suggest Widget Resize Bottom Horizontal Bar */
.editor-widget.suggest-widget .monaco-sash.orthogonal-edge-south.horizontal {
  margin-top: calc(var(--container-padding) * 2) !important;
}
.editor-widget.suggest-widget .monaco-sash.orthogonal-edge-north.horizontal::before,
.editor-widget.suggest-widget .monaco-sash.orthogonal-edge-south.horizontal::before {
  border-radius: 10px !important;
}
/* Suggest Widget List Item */
.editor-widget.suggest-widget .monaco-list-rows .monaco-list-row {
  padding: 0 2px !important;
  height: auto !important;
  border-radius: calc(var(--border-radius) - var(--container-padding)) !important;
}
/* Suggest Widget List Item Focused */
/* Suggest Widget List Item Hovered */
.editor-widget.suggest-widget .monaco-list-rows .monaco-list-row.focused,
.editor-widget.suggest-widget .monaco-list-rows .monaco-list-row:hover {
  background-color: #dbf2 !important;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: inset 0 0 0 1px #0006, inset 0 0 0 2px #fff !important;
}
/* Suggest Widget List Item Focused - Dark Mode */
/* Suggest Widget List Item Hovered - Dark Mode */
.vs-dark .editor-widget.suggest-widget .monaco-list-rows .monaco-list-row.focused,
.vs-dark .editor-widget.suggest-widget .monaco-list-rows .monaco-list-row:hover {
  background-color: #8593 !important;
  text-shadow: 1px 1px 1px #000;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 2px #fff2 !important;
}
/* Suggest Widget List Item Custom Color Icon */
.editor-widget.suggest-widget .monaco-list-rows .monaco-list-row .colorspan {
  margin-left: 2px !important;
}
.editor-widget.suggest-widget .monaco-list-rows .monaco-list-row .readMore {
  padding-top: 3px !important;

}
/* Suggest Widget List Item Color Span */
.editor-widget.suggest-widget .monaco-list-rows .monaco-list-row .colorspan {
  border-radius: 100px !important;
  border: none !important;
  width: 13px !important;
  height: 13px !important;
  margin-top: 4px !important;
}
/* Suggest Widget Scrollbar */
.editor-widget.suggest-widget .monaco-scrollable-element .scrollbar {
  border-radius: var(--border-radius) !important;
}
/* Suggest Widget Scrollbar Thumb */
.editor-widget.suggest-widget .monaco-scrollable-element .scrollbar .slider {
  border-radius: calc(var(--border-radius)) !important;
  background-color: #eee !important;
  box-shadow: inset 0 0 0 2px #fff7, inset 0 0 0 1px #0006 !important;
}
/* Suggest Widget Scrollbar Thumb - Dark Mode */
.vs-dark .editor-widget.suggest-widget .monaco-scrollable-element .scrollbar .slider {
  background-color: #0006 !important;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 2px #fff2 !important;
}
/* Suggest Widget Details Container */
.suggest-details-container {
  margin: 0 2px !important;
  color: #0006;
}
/* Suggest Widget Details Inner Panel */
.suggest-details-container .suggest-details {
  background-color: #eef9 !important;
  background-image: -webkit-linear-gradient(top, #fff9, #bbc5) !important;
  text-shadow: 1px 1px #fff;
  padding: calc(var(--container-padding) * 2) !important;
  box-sizing: border-box !important;
  border: none !important;
  border-radius: var(--border-radius) !important;
  box-shadow: inset 0 0 0 2px #fff7, inset 0 0 0 1px #0006 !important;
  backdrop-filter: blur(10px) sepia(10%);
}
/* Suggest Widget Details Inner - Dark Mode */
.vs-dark .suggest-details-container .suggest-details {
  background-color: #0006 !important;
  background-image: -webkit-linear-gradient(top, #4449, #0006) !important;
  text-shadow: 1px 1px #000;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 2px #fff3 !important;
}
/* Suggest Widget Details Scrollbar Thumb */
.suggest-details-container .monaco-scrollable-element .scrollbar .slider {
  border-radius: calc(var(--border-radius)) !important;
  background-color: #eee !important;
  box-shadow: inset 0 0 0 2px #fff7, inset 0 0 0 1px #0006 !important;
}
/* Suggest Widget Details Scrollbar Thumb - Dark Mode */
.vs-dark .suggest-details-container .monaco-scrollable-element .scrollbar .slider {
  background-color: #0006 !important;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 0 2px #fff2 !important;
}
/* Paramater Hints Widget */
.editor-widget.parameter-hints-widget {
  background-color: #eee4 !important;
  border-radius: var(--border-radius) !important;
  box-shadow: inset 0 0 0 1px #fff, 2px 2px 10px #0002 !important;
  border: 1px solid #0006;
  backdrop-filter: blur(10px) sepia(10%) !important;  
}
/* Paramater Hints Widget - Dark Mode */
.vs-dark .editor-widget.parameter-hints-widget {
  background-color: #0002 !important;
  box-shadow: inset 0 0 0 1px #fff4, 1px 1px 10px #0008 !important;
  border: 1px solid #0009;
}
/* Paramater Hints Widget Inner Wrapper */
.editor-widget.parameter-hints-widget .phwrapper {
  padding: var(--container-padding) !important;
  box-sizing: border-box !important;
}
/* end-vsxcode-glassy-suggest-widget-style */